/* Developed By: Shreyans Kumar Jain
 * url: shreyansjain33.tk
*/

@media screen {
    html {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        transition: all 0.2s ease-in-out;
        font-size: calc(.75vw + .95vh);
        /*calc(1vw + 1vh + .5vmin); }*/
    }
    body {
        /*font-family: 'Roboto Condensed', sans-serif;*/
        background: #26b4d7;
        color: #222;
        line-height: 1;
    }
    .no_all {
        padding: 0;
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4 {
        margin: 6px 6px 6px 0;
    }
    a:hover,
    a:active,
    a:focus,
    button:focus {
        outline: none;
        text-decoration: none;
    }
    ol,
    ul {
        list-style: none;
        margin: 5px;
    }
}


/* Common */

@media screen {
    .btn-primary {
        background: #fec20b;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        border: none;
    }
    .btn-primary:hover {
        background: #26b4d7;
    }
}


/* Bees Common */

@media screen {
    .bees {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 5px;
        height: 100%;
        width: 0;
    }
    .bees.bees-end {
        left: auto;
        right: 0;
    }
    .bees>span {
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url('../img/bees.png') left center;
        animation: play .1s steps(3) infinite;
        -webkit-animation: play .1s steps(3) infinite;
    }
    .bees.bees-end>span {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}


/* Header */

@media screen {
    header,
    footer {
        background: rgba(254, 194, 11, .98);
        color: #efecee;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
    }
}


/* Main */

@media screen {
    main {
        background: url(../img/flower_pat.png) repeat;
    }
}


/* Slider */

@media screen {
    .contact-us {
        background: #f9e8b2;
    }
    .contact-us .row {
        background: url(../img/dots_pat.png) repeat;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact-us .card {
        border-radius: 25% 25% 25% 25%/60% 60% 40% 40%;
        padding: 20px;
        padding-left: 30px;
    }
    .contact-us .card::before,
    .contact-us .card::after {
        content: '';
        position: absolute;
        width: 70%;
        height: calc(100% + 20px);
        background: #fff;
        border-radius: 100%;
    }
    .contact-us .card::before {
        top: -30px;
        left: 15%;
    }
    .contact-us .card::after {
        bottom: 15px;
        left: 15px;
    }
    .contact-us .card-body {
        z-index: 3;
    }
    .contact-us .bees {
        top: 20px;
    }
    .contact-us .bees-end {
        right: 150px;
    }
}


/*  */

@media screen {}


/* Footer */

@media screen {
    footer {
        margin-top: 30px;
    }
}


/*  */

@media screen {}


/* ################################################################# */

@keyframes play {
    100% {
        background-position: -120px;
    }
}

@-webkit-keyframes play {
    100% {
        background-position: -120px;
    }
}